Source: storm
Section: universe/devel
Priority: optional
Maintainer: Jamshed Kakar <jamshed.kakar@canonical.com>
Build-Depends: debhelper, lsb-release, python-central, python-all-dev, python2.4, python2.5, python2.6
Standards-Version: 3.7.2
XS-Python-Version: all

Package: python-storm
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Storm is an object-relational mapper (ORM) for Python
 developed at Canonical.  The project has been in development for more
 than a year for use in Canonical projects such as Launchpad, and has
 recently been released as an open-source product.
